@import "~bootstrap/scss/bootstrap.scss";
.card {
  width: 18rem;
}
// .firstDiv {
//   height: 183px;
// }
// .centralDiv {
//   height: 183px;
// }
.button {
  padding-top: 31rem;
}
.upSideDown {
  transform: rotate(180deg);
}
.paloa {
  font-size: 5rem;
}
.palob {
  font-size: 5rem;
}
.cardnumber {
  font-size: 8rem;
}
